<nav class="navbar navbar-dark bg-dark position-sticky top-0">
    <div class="container-fluid justify-content-arround">
        <div>
            <a class="navbar-brand align-middle">
                <mat-icon>cabin</mat-icon>
            </a>
            <a class="navbar-brand align-middle">Muebleria</a>
        </div>
        <div>
            <a class="navbar-brand align-middle">
                <button mat-button (click)="openBilling()">
                    <mat-icon [matBadge]="this.articleAmount" matBadgeSize="small" [matBadgeHidden]="this.showBadge">shopping_cart</mat-icon>
                </button>
            </a>
        </div>
    </div>
</nav>